<div class="space-y-4">
  <table class="min-w-full table-auto border-collapse border border-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 border border-gray-300 text-left">#</th>
        <th class="px-4 py-2 border border-gray-300 text-left">Opinion</th>
        <th class="px-4 py-2 border border-gray-300 text-left">Rate</th>
        <th class="px-4 py-2 border border-gray-300 text-left">Order Status</th>
        <th class="px-4 py-2 border border-gray-300 text-left">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let order of orderList; let i = index"
        class="hover:bg-gray-100 odd:bg-gray-50 even:bg-white"
      >
        <td class="px-4 py-2 border border-gray-300">{{ i + 1 }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ order.opinion }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ order.rate }}</td>
        <td class="px-4 py-2 border border-gray-300">
          @if (isCateringFirmEnvironment) {
            <select
              class="border border-gray-300 rounded px-2 py-1 w-full"
              [(ngModel)]="order.orderStatus"
              [disabled]="order.orderStatus !== 'PENDING'"
              (change)="onChangeStatus(order, $event)"
            >
              <option *ngFor="let status of orderStatusKeys" [value]="status">
                {{ getOrderStatusName(status) }}
              </option>
            </select>
          } @else {
            {{ getOrderStatusName(order.orderStatus) }}
          }
        </td>
        <td class="px-4 py-2 border border-gray-300">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
            (click)="showOrder(order)"
          >
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <order-details [isOpen]="showModal" (onClose)="closeModal()">
    <div *ngIf="selectedOrder">
      <p><strong>Opinion:</strong> {{ selectedOrder.opinion }}</p>
      <p><strong>Rate:</strong> {{ selectedOrder.rate }}</p>
      <p>
        <strong>Status:</strong>
        {{ getOrderStatusName(selectedOrder.orderStatus) }}
      </p>
      <p>
        <strong>Starting address:</strong> {{ selectedOrder.startingAddress }}
      </p>
      <p>
        <strong>Destination address:</strong>
        {{ selectedOrder.contactData.destinationAddress }}
      </p>
      <p>
        <strong>Order Date and Time:</strong>
        {{ selectedOrder.contactData.orderDateTime | date: "short" }}
      </p>
      <p>
        <strong>Due Date and Time:</strong>
        {{ selectedOrder.contactData.dueDateTime | date: "short" }}
      </p>
      <div class="pl-6 border-l-4 border-blue-500 mt-4 mb-4">
        <h3 class="text-lg font-semibold">Contact Information</h3>
        <p><strong>Name:</strong> {{ selectedOrder.contactData.name }}</p>
        <p><strong>Surname:</strong> {{ selectedOrder.contactData.surname }}</p>
        <p><strong>Email:</strong> {{ selectedOrder.contactData.email }}</p>
        <p>
          <strong>Phone Number:</strong>
          {{ selectedOrder.contactData.phoneNumber }}
        </p>
      </div>
      <div *ngIf="selectedOrderMeals && selectedOrderMeals.length > 0">
        <strong>Order items:</strong>
        <ul>
          <li
            *ngFor="let item of selectedOrderMeals"
            class="flex flex-row justify-between p-2"
          >
            <div class="flex flex-row gap-4">
              <img [src]="item.photo" alt="{{ item.name }}" class="w-16 h-16" />
              <p>{{ item.name }}</p>
            </div>
            <div class="font-bold">{{ item.price }} PLN</div>
          </li>
          <li
            class="flex flex-row justify-between px-2 border-t-2 border-black"
          >
            <div class="font-bold">Total:</div>
            <div class="font-bold">
              {{ getSelectedOrderMealsSum() }}
              PLN
            </div>
          </li>
        </ul>
      </div>
    </div>
  </order-details>
</div>
